In [4]:
 print ("Hello Phython")

Hello Phython

In [5]:
first name      # rule 1

SyntaxError: invalid syntax (<ipython-input-5-f885b685e3ab>, line 1)

In [ ]:
Rules for declaring variables in Phython

In [7]:
Rule1: No name spaces while declaring the variable name

In [ ]:
Rule2: A variable name should not start with a number

In [ ]:
Rule3: A variable name should not contain any special character

In [ ]:
# Introduction to datatypes

In [ ]:
str, Number, list, tuple, dictionaries

In [9]:
# classification of datatypes

In [ ]:
Mutable datatype, immutable datatype

In [ ]:
# Introduction to String Datatype

In [ ]:
3 types - single quote, double quote and triple quote

In [ ]:
# Introduction to String methods

In [11]:
name ="John"
type(name)

str

In [12]:
fullname ="rajesh robin"
print(fullname)

rajesh robin

In [13]:
fullname ="rajesh robin"
print(fullname.title())

Rajesh Robin

In [14]:
fullname ="rajesh robin"
print(fullname.upper())

RAJESH ROBIN

In [ ]:
# Introduction to f strings

In [ ]:
f "customwords, {placeholder1} {placeholder2}.....{placeholdern}"

In [25]:
firstname='sachin'
lastname='jadhav'    # I want fullname
fullname=f"{firstname} {lastname}"
print(fullname)

sachin jadhav

In [26]:
print(fullname.title())

Sachin Jadhav

In [27]:
message=f"keep up the good work, {fullname.title()}"    # to appreciate sachin
print(message)

keep up the good work, Sachin Jadhav

In [ ]:
# Adding whitespaces to strings

In [30]:
print("favorite_languange:phythoncjavac++pascal")

favorite_languange:phythoncjavac++pascal

In [31]:
print("favorite_languange:\nphython\nc\njava\nc++\npascal")   # \n - line delimiter

favorite_languange:
phython
c
java
c++
pascal

In [32]:
print("favorite_languange:\n\tphython\n\tc\n\tjava\n\tc++\n\tpascal")    # \t tab demiliter

favorite_languange:
	phython
	c
	java
	c++
	pascal

In [ ]:
# Removing white spaces from strings

In [33]:
name="seetharam"
print(name)

seetharam

In [35]:
name1="    seetharam"          # lstrip= leftstrip
print(name1.lstrip())

seetharam

In [37]:
name2="seetharam    "            #rstrip = right strip
print(name2.rstrip())

seetharam

In [38]:
name3="    seetharam"             # strip on both sides
print(name3.strip())

seetharam